<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEULtTU1gnEmv27AV3IajcJ_iEZDbrlfs</string>
	<key>GCM_SENDER_ID</key>
	<string>43890310910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mindcows.app</string>
	<key>PROJECT_ID</key>
	<string>mindcows-e6b33</string>
	<key>STORAGE_BUCKET</key>
	<string>mindcows-e6b33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:43890310910:ios:3d504774e0667cee0defaf</string>
</dict>
</plist>